# แบบทดสอบการจัดการกับ List

In [ ]:
นางสาวกันยาพร ชัยชนะ 6812732131

In [40]:
lt = [1, 2, 3, 4, 5]

## 1. เพิ่มข้อมูลเข้าไปใน list ทีละตัว

100, 200, 300, 400

In [41]:
lt.append(100)

In [42]:
lt.append(200)

In [43]:
lt.append(300)

In [44]:
lt.append(400)

In [45]:
print(lt)

[1, 2, 3, 4, 5, 100, 200, 300, 400]

## 2. นำ List เพิ่มเข้าใน lt

In [46]:
sub = [6, 7, 8, 9, 10]

In [47]:
lt.append(sub)

In [48]:
lt

[1, 2, 3, 4, 5, 100, 200, 300, 400, [6, 7, 8, 9, 10]]

## 3. เข้าถึงเข้ามูลตัวสุดท้ายภายใน list

In [49]:
lt[-1]

[6, 7, 8, 9, 10]

## 4. นำข้อมูลตัวสุดท้ายออกจาก list

In [50]:
print(lt.pop())
print(lt)

[6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 100, 200, 300, 400]

## 5. นำข้อมูลตัวที่ 5 ออกจาก list

In [51]:
del lt[4]

In [52]:
lt

[1, 2, 3, 4, 100, 200, 300, 400]

## 6. เพิ่มคำว่า "Python" เข้าไปใน list ตำแหน่งที่ 3

In [56]:
lt.insert(2,"Python")

In [57]:
lt

[1, 2, 'Python', 3, 4, 100, 200, 300, 400]

## 7. ลบข้อมูลในตำแหน่งที่ 6 ออกจาก list

In [58]:
del lt[5]

In [59]:
lt

[1, 2, 'Python', 3, 4, 200, 300, 400]

## 8. แสดงจำนวนสมาชิกภายใน list

In [60]:
print(lt)

[1, 2, 'Python', 3, 4, 200, 300, 400]

## 9. reverse list

In [61]:
lt[::-1]

[400, 300, 200, 4, 3, 'Python', 2, 1]

In [62]:
"python"[::-1]

'nohtyp'

In [63]:
numbers = [1,2,3,4,5]
print(numbers[::-1])

[5, 4, 3, 2, 1]

## 10. เคลียร์ list ให้เป็น list ว่าง

In [ ]:
lt